.header--menu {
	display: none;
}

.header--nav {
	padding-bottom: 1em;
}

.header--nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.nav--links {
	min-width: 25em;
	width: 50%;
}

.slide--content img {
  max-width: 480px;
  height: 640px;
}

.slide--content_inner h2 {
	margin-top: 0;
}

.slide--content {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.slide--id ~ .slide--content .slide--content_inner,
.slide--id ~ .slide--content img {
	margin: .5em 3em;
	margin-left: 0;
}


.achievements--list_notes__aside {
	max-width: 12em;
	text-align: left;
}
